<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinopoisk.redirect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KP Redirect"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Перехватываем все ссылки kinopoisk.ru -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.kinopoisk.ru" />
                <data android:scheme="http" android:host="www.kinopoisk.ru" />
                <data android:scheme="https" android:host="kinopoisk.ru" />
                <data android:scheme="http" android:host="kinopoisk.ru" />
            </intent-filter>
        </activity>
    </application>
</manifest>
